body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin: 0 10px; /* Added space between buttons */
}

#yes {
  background-color: #4CAF50;
}

#no {
  background-color: #f44336;
  position: relative; /* Changed from absolute to relative */
}

#yes:hover, #no:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.hidden {
  display: none;
}

.form-container {
  margin-top: 40px;
  margin-bottom: 20px; /* Added margin bottom */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px; /* Set a fixed width for the form */
  margin: auto; /* Center the form */
}

input[type="text"], input[type="tel"], input[type="submit"] {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 30px); /* Full width minus padding */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

input[type="submit"] {
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold; /* Make the text bold */
}

input[type="submit"]:hover {
  background-color: #007B9E; /* Darken the button on hover */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#loveMessage {
  font-family: 'Cursive', 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #ff4081;
  margin-top: 20px; /* Added margin to the top */
}

.try-again-btn {
  cursor: pointer;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-top: 20px;
  background-color: #f44336;
}

.try-again-btn:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}